.login-page {
   background-color: #2D3648;
   width: 100%;
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.login-page__logo-wrapper {
   flex-direction: column;
   flex: 1;

   display: flex;
   justify-content: center;
   align-items: center;
}

form {
   background-color: white;
   width: 100%;
   height: 32rem;
   padding: 3rem;
   border-radius: .8rem .8rem 0 0;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

fieldset {
   margin-top: 2rem;
}

fieldset + fieldset {
   margin-top: 1rem;
}

fieldset label {
   color: #2D3648;
   font-weight: 600;
   font-size: 1.2rem;
   margin-bottom: .4rem;
   display: block;
}

fieldset input {
   display: block;
   border: 1.5px solid #CBD2E0;
   border-radius: .6rem;
   padding: .8rem 1rem;
   width: 100%;
}

button {
   background-color: #2D3648;
   color: white;

   width: 100%;
   padding: 1rem;
   border-radius: .6rem;

   font-weight: 700;
}